html, body {
  font-family: 'courier';
  height: 100%;
  background: linear-gradient(#B7B7B7, white);
  /*background-image: url('http://i.imgur.com/vOOgXLc.gif');
  background-repeat: no-repeat;
  background-size: cover;*/
}

.padding-left {
  padding-left: 40px;
}

.simple-form{
    display: inline-block;
}

.padding-right {
  padding-right: 40px;
}

.padded {
  padding-top: 20px;
}

.centered {
  position: fixed;
  top: 45%;
  left: 35%;
}

.shadow {
    box-shadow: 2px 7px 20px #B7B7B7;
}

img {
  border-radius: 10px;
  max-width:430px;
  max-height:295px;
  width: auto;
  height: auto;
}
