<h1 style="font-family:courier;">Welcome to the Task Manager</h1>

<ul>
  <li><a href="/tasks" style="font-family:courier; color:FF5E5B">Task Index</a></li>
  <li><a href="/tasks/new" style="font-family:courier; color:FF5E5B">New Task</a></li>
</ul>
