<div class="row well text-center">
  <h1><b>Welcome to the Task Manager</b></h1>
</div>
<div class="padded centered">
  <ul>
    <a class="btn-lg btn-info shadow" href="/tasks">Task Index</a>
    <a class="btn-lg btn-success shadow" href="/tasks/new">New Task</a>
  </ul>
</div>
