<div class="row well">
  <a class="btn-sm btn-info" href="/">Back to Task Manager</a>
  <h1 class="text-center">All Tasks</h1>
</div>

<div class="container text-center">
  <% @tasks.each do |task| %>
    <h3><%= task.id %>: <a href="/tasks/<%= task.id %>"><%= task.title %></a></h3>
  <% end %>
  <div class="padded"><a class="btn-lg btn-success shadow" href="/tasks/new">New task</a></div>
</div>
