<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
    integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
    crossorigin="anonymous">

    <title>Tasks</title>
  </head>
  <body style="font-family:courier;">
    <div class="row well">
      <a class="btn-sm btn-info" href="/">Back to Task Manager</a>
      <h1 class="text-center">All Tasks</h1>
    </div>

    <div class="container text-center">
      <% @tasks.each do |task| %>
        <h3><%= task.id %>: <a href="/tasks/<%= task.id %>"><%= task.title %></a></h3>
      <% end %>
    </div>

  </body>
</html>
