<div class="row well">
  <a class="btn-sm btn-info" href="/">Back to Task Manager</a>
  <div class="text-center">
    <form action="/tasks" method="post">
      <h2>enter a new task:</h2>
      title<br />
      <input type="text" name="task[title]" /><br /><br />
      description<br />
      <textarea name="task[description]"></textarea><br />
      <input class="btn btn-default" type="submit" />
    </div>
  </div>
</form>
