<form action="/tasks" method="post">
  <p>enter a new task:</p>
  title<br />
  <input type="text" name="task[title]" /><br /><br />
  description<br />
  <textarea name="task[description]"></textarea><br />
  <input type="submit" />
</form>
