<div>
  <div class="row well">
    <div class="padding-left"><a class="btn-sm btn-info" href="/tasks">Back to Task Index</a></div>
    <h1 class="text-center"><%= @task.title %></h1>
  </div>
  <p class='text-center'><%= @task.description %></p>
  <div class="text-center padded">
    <img src="<%= @task.image %>" ></img>
  </div>
</div>
