<div>
  <div class="row well">
    <a class="btn-sm btn-info" href="/tasks">Back to Task Index</a>
    <h1 class="text-center"><%= @task.title %></h1>
  </div>
  <p class='text-center'><%= @task.description %></p>
</div>
